* {
  margin: 0;
  font-family: sans-serif;
}

.top-bar {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    45deg,
    hsl(240deg 62% 59%) 0%,
    hsl(218deg 78% 51%) 19%,
    hsl(209deg 100% 46%) 34%,
    hsl(205deg 100% 47%) 45%,
    hsl(202deg 100% 47%) 55%,
    hsl(198deg 100% 47%) 64%,
    hsl(194deg 100% 46%) 71%,
    hsl(190deg 100% 45%) 78%,
    hsl(189deg 73% 55%) 84%,
    hsl(185deg 64% 63%) 91%,
    hsl(180deg 55% 70%) 100%
  );  
  height: 200%;
  font-size: 25px;
  color: white
}

.page-title {
  margin-left: 15px;
}

.cost {
  display: flex;
  justify-content: flex-end;
  border: 1px solid white;
  padding:20px;
  margin: 20px;
  font-size: 15px;
}

.select-container, .button {
  border: none;
  background: none;
}

.button {
  font-weight: bold;
  font-size: 15px;
  border: 1px solid black;
  background-color: white;
}

.button:hover {
  background-color: rgb(145, 184, 129);
  color: white;
  cursor: pointer;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 100vw;
}

.logo{
  width: 150px;
}

.lower-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 18px;
  width: 100vw;
  margin-top: 20px;
  margin-bottom: 50px;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 15px;
  padding-left: 15px;
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid white;
}

.estimate-button:hover{
 cursor: pointer;
}

.confirm-button{
  display: flex;
  justify-content: center;
}

.grid-container {
  padding-top: 50px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  height: 100vh;
  width: 100vw;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  height: 800px;
  width: 400px;
  border-top: 1px solid grey;
  overflow: scroll;
  overflow-x: hidden;
  border: 1px solid lightgray;
  border-radius: 10px;
}

article > h1 {
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.location-img {
  height: 200px;
  width: 300px;
  border-radius: 10px;
}

.card-top {
  height: 200px;
}

.card-middle {
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.card-bottom, .playlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.pending, .past {
  font-size: 25px;
}

.input {
  width: 105px;
}

option {
  font-size: 8px;
  height: 80px;
}

h1 {
  padding-top: 20px;
}